<nav class="navbar navbar-default navbar-fixed-top noBorder" id="colorful-nav">
    <div class="container" id="newsCategoryHeader">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                
                <li id="currentCategory" class="home newsCategory blueLight" category="general" style="padding-top: 9px;">
                    <a href="#">
                        <span class="glyphicon glyphicon-home"></span>
                        <h5>GENERAL</h5>
                    </a>
                </li>
                <li class="profile newsCategory blueDark" category="science-and-nature">
                    <a href="#">
                        <span class="glyphicon glyphicon-globe"></span>
                        <h5>SCIENCE</h5>
                    </a>
                </li>
                <li class="statistics newsCategory blueLight" category="politics">
                    <a href="#">
                        <span class="glyphicon glyphicon-stats"></span>
                        <h5>POLITICS</h5>
                    </a>
                </li>
                <li class="lists newsCategory blueDark" category="business">
                    <a href="#">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <h5>BUSINESS</h5>
                    </a>
                </li>
                <li class="about newsCategory blueLight" category="sport">
                    <a href="#">
                        <span class="glyphicon glyphicon-align-left"></span>
                        <h5>SPORTS</h5>
                    </a>
                </li>
                <li class="contact newsCategory blueDark" category="entertainment">
                    <a href="#">
                        <span class="glyphicon glyphicon-film"></span>
                        <h5>ENTERTAINMENT</h5>
                    </a>
                </li>
                <li class="search newsCategory blueLight" category="technology">
                    <a href="#">
                        <span class="glyphicon glyphicon-erase"></span>
                        <h5>TECHNOLOGY</h5>
                    </a>
                </li>
                <li class="health newsCategory blueDark" category="music">
                    <a href="#">
                        <span class="glyphicon glyphicon-music"></span>
                        <h5>MUSIC</h5>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container" id="readItLaterHeader" style="display: none;">
        <button class="btn btn-md goBackBtn" style="background:transparent;"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
        <h2>Saved Articles</h2>
    </div>
    <div class="container" id="settingsHeader" style="display: none;">
        <button class="btn btn-md goBackBtn" style="background:transparent;" ><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
                
                    <h2>Settings</h2>    
    
    </div>
</nav>