<li class="col-3">
    <a class="read">
        <span class="readlater glyphicon glyphicon-bookmark"></span>
    </a>
    <a class="url" target="_blank">
        <div class="image">
            <img/>
            <h2></h2>
            <h5></h5>
            <span class="description"></span>
            <br><br>
            <u><span class='time ' id="time"></span></u>
           <span class="qw"></span>
        </div>
    </a>
    <!--button class="btn btn-block btn-social-icon btn-facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{url}}%2F&amp;src=sdkpreparse', 'New', 'width=500, height=550'); return true;">
        <i class="fa fa-facebook"></i>
    </button>
    <button class="btn btn-block btn-social-icon btn-facebook">
        <i class="fa fa-facebook"></i>
    </button-->
    <div id="social">
    <div class="fb-share-button" id="fb" data-layout="button" data-size="small" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={URL}%2F&amp;src=sdkpreparse">
             <i class="fa fa-facebook"></i>
        </a> 
    </div>
    
        <a class="twitter-share-button"  id="tw"  href="https://twitter.com/share?
      url=https%3A%2F%2Fdev.twitter.com%2Fweb%2Ftweet-button&
      via={source}&
      text={title}" target="_blank"  ><i class="fa fa-twitter"></i></a>
     </div>
</li>