#social{
 
    margin-top: -1.3pc;
    float: right;
    
}

#fb{
    margin-left: -1.5pc;
    padding-bottom: 13px;
}

#tw{
    margin-right: 0.6pc;
    margin-top: -2.1pc;
}

#time{
    padding-top: 2pc;
}

